[Unit]
Description=KISS message queue for direwolf
Documentation=man:kissutil
After=igate.service
AssertPathExists=/etc/igate.conf

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/aprs/queue
ExecStart=/usr/local/bin/kissutil -h localhost -f /var/aprs/queue

[Install]
WantedBy=multi-user.target
